body{background-color:pink;}

p{color:green;font-family:Arial;}

h1{color:purple; font-family:Aharoni;}

h3{color:cyan; font-family:Garamond;}


th{color:white; font-family:Arial;}

td{color:white; font-family:Times New Roman;}

table{background-color:black}
